version: 2.0
jobs:
  unit:
    docker:
      - image: circleci/node:8
    steps:
      - run: node --version
      - run: npm --version
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - run: npm test
      - run: bash <(curl -s https://codecov.io/bash)
  integration:
    docker:
      - image: circleci/node:8
    steps:
      - run: node --version
      - run: npm --version
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - run: npm run build
      - run:
          command: npm run test:integration:ci
          no_output_timeout: 20m
  linux:
    docker:
      - image: circleci/node:8
    steps:
      - run: node --version
      - run: npm --version
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - run: npm run build:standalone
      - run: npm run test:e2e
  osx:
    macos:
      xcode: "9.0"
    steps:
      - run: node --version
      - run: npm --version
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - run: npm run build:standalone
      - run: npm run test:e2e
  release:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run: git fetch --tags
      - run: npm install
      - run: npm run build
      - run: npm run semantic-release
  bump-brew-formula:
    macos:
      xcode: "9.0"
    steps:
      - run: npm run bump-brew-formula
workflows:
  version: 2
  build_and_test:
    jobs:
      - unit
      - integration
      - linux
      - osx
      - release:
          requires:
            - unit
            - integration
            - linux
            - osx
      - bump-brew-formula:
          requires:
            - release
