name: Build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build:package

      - name: Check build artifacts
        run: ls -la dist/

      - name: Save Build folders
        uses: actions/cache/save@v4
        with:
          path: |
            dist
          key: build-cache-${{ github.run_id }}-${{ github.run_attempt }}